In [ ]:

!pip install pyspark

In [ ]:
#importação das bibliotecas
import pyspark #biblioteca principal
from pyspark.sql import SparkSession # biblioteca para a criação de uma sessão Spark

spark = SparkSession.builder.appName("Airpot Paris").master('local[*]').getOrCreate()


sc = spark.sparkContext

rdd = sc.textFile("Airports.csv")
rdd.take(5)

ModuleNotFoundError: ignored

In [ ]:
pairRDD = rdd.map(lambda x: (x.split(",")[2], x.split(",")[3]))

In [ ]:
#retorna somente as entradas em que a cidade é igual a PARIS
pairRDD_Paris = pairRDD.filter(lambda x: x[1] == "PARIS")
pairRDD_Paris.collect()

[('LE BOURGET', 'PARIS'),
 ('CHARLES DE GAULLE', 'PARIS'),
 ('N/A', 'PARIS'),
 ('ORLY', 'PARIS')]

In [ ]:
##capitalize somente os valores
pairRDD_Paris_capitalized = pairRDD_Paris.mapValues(lambda x: x.capitalize())
pairRDD_Paris_capitalized.collect()

[('LE BOURGET', 'Paris'),
 ('CHARLES DE GAULLE', 'Paris'),
 ('N/A', 'Paris'),
 ('ORLY', 'Paris')]

In [ ]:
## ordenar os registros com base o nome do aeroporto
pairRDD_Paris_capitalized_sorted = pairRDD_Paris_capitalized.sortByKey(ascending=True)
pairRDD_Paris_capitalized_sorted.collect()

[('CHARLES DE GAULLE', 'Paris'),
 ('LE BOURGET', 'Paris'),
 ('N/A', 'Paris'),
 ('ORLY', 'Paris')]

In [ ]:
#remover cabeclho
rdd = rdd.filter(lambda x: x.split(",")[0]!="icao_code")

NameError: ignored

In [ ]:
#encontra os egistros coa cidade igual a paris e altitude > 80
pairRDD = rdd.map(lambda x: (x.split(",")[2], (x.split(",")[3],int(x.split(",")[13]))))
pairRDD.take(5)

[('GOROKA', ('GOROKA', 1610)),
 ('N/A', ('LAE', 0)),
 ('MADANG', ('MADANG', 7)),
 ('MOUNT HAGEN', ('MOUNT HAGEN', 1643)),
 ('NADZAB', ('NADZAB', 73))]

In [ ]:
pairRDD_Paris = pairRDD.filter(lambda x: x[1][0]=="PARIS" and x[1][1]>80)
pairRDD_Paris.collect()

[('CHARLES DE GAULLE', ('PARIS', 120)), ('ORLY', ('PARIS', 89))]

In [ ]:
#capitalize somente na cidade
pairRDD_Paris_capitalized = pairRDD_Paris.mapValues(lambda x: (x[0].capitalize(), x[1]))
pairRDD_Paris_capitalized.collect()

[('CHARLES DE GAULLE', ('Paris', 120)), ('ORLY', ('Paris', 89))]

In [ ]:
#ordena com base a chave
pairRDD_Paris_capitalized_sorted = pairRDD_Paris_capitalized.sortBy(lambda x: x[1][1], ascending=True) ## arrumar
pairRDD_Paris_capitalized_sorted.collect()

[('ORLY', ('Paris', 89)), ('CHARLES DE GAULLE', ('Paris', 120))]

In [ ]:
##Word count
rdd = sc.textFile("domcasmurro.txt")


rdd_fratten = rdd.flatMap(lambda x: x.split(" "))
#gerando um novo rdd formato (chave,valor -> (word, ocurrence))

pairRDD = rdd_fratten.map(lambda x: (x.lower(), 1))
pairRDD.collect()


#removendo chaves vazias
pairRDD_filtered = pairRDD.filter(lambda x: x[0] != "")

#reduce by key

wordCount = pairRDD_filtered.reduceByKey(lambda x,y: x+y)
wordCount.take(5)

# ordenaçao pela quantidade de ocorrencias
wordCountSorted =wordCount.sortBy(lambda x: x[1], ascending=False)
##wordCountSorted.take(5)

In [ ]:
#Atividade3 == quarto 2 == value
rdd = sc.textFile("RealEstate.csv")
rdd = rdd.filter(lambda x: x.split(",")[0]!="MLS")


rdd.take(5)
rdd_fratten = rdd.map(lambda x: x.split(","))
rdd_fratten.take(5)
rddKeyComposite = rdd_fratten.map(lambda x: ((x[4], x[6]),(1)))
rddKeyComposite.take(5)

In [ ]:
rdd = sc.textFile("RealEstate.csv")
rdd = rdd.filter(lambda x: x.split(",")[0]!="MLS")
def buid_tuple(s):
  fields = s.split(",")
  return (int(fields[3]), (float(fields[2]),1))

pairRDD =rdd.map(buid_tuple)
pairRDD.take(5)

[(3, (795000.0, 1)),
 (4, (399000.0, 1)),
 (4, (545000.0, 1)),
 (4, (909000.0, 1)),
 (3, (109900.0, 1))]

In [ ]:
pairRDDsum = pairRDD.reduceByKey(lambda x,y: (x[0]+y[0], x[1]+y[1]))
pairRDDsum.take(5)

[(4, (85575190.0, 177)),
 (2, (32761834.0, 123)),
 (0, (586900.0, 2)),
 (6, (2412900.0, 4)),
 (10, (699000.0, 1))]

In [ ]:
pairRDD_avarege = pairRDDsum.mapValues(lambda x: x[0]/x[1])
pairRDD_avarege.collect()

[(4, 483475.6497175141),
 (2, 266356.3739837398),
 (0, 293450.0),
 (6, 603225.0),
 (10, 699000.0),
 (3, 359062.20649651974),
 (7, 325000.0),
 (1, 169981.81818181818),
 (5, 657858.0645161291)]

In [ ]:
pairRDD_avarege_Sorted = pairRDD_avarege.sortByKey(ascending=True)
pairRDD_avarege_Sorted.collect()

[(0, 293450.0),
 (1, 169981.81818181818),
 (2, 266356.3739837398),
 (3, 359062.20649651974),
 (4, 483475.6497175141),
 (5, 657858.0645161291),
 (6, 603225.0),
 (7, 325000.0),
 (10, 699000.0)]